version: '3.8'

services:
  db:
    image: postgres:18
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data/pgdata
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M
    command: >
        postgres -c max_connections=1000
                 -c shared_buffers=256MB
                 -c effective_cache_size=768MB
                 -c maintenance_work_mem=64MB
                 -c checkpoint_completion_target=0.7
                 -c wal_buffers=16MB
                 -c default_statistics_target=100
                 -c client_encoding=UTF8
    healthcheck:
        test: [ "CMD-SHELL", "pg_isready -U postgres_user -d postgres_db" ]
        interval: 30s
        timeout: 10s
        retries: 5
    tty: true
    stdin_open: true

  rabbitmq:
    image: rabbitmq:3-management
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    ports:
      - "5672:5672" # rabbitmq broker port
      - "15672:15672" # rabbitmq Management UI port

